.center-block {
    float: none;
}

.logo {
    margin-top: 50px;
    
}

.page-header {
    text-align: center;
}

.main-content {
    margin-top: 50px;
}


.main-content-mockups {
    margin-top: 20px;
    text-align: center;
}